.contact_me {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  h1 {
    color: #274142;
  }

  a {
    background-color: #274142;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    width: max-content;
    gap:.5rem;
    align-items: center;
    font-size: 1.2rem;
  }
}
