.featured {
  .featured_project_card {
    position: relative;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 1px solid #274142;
    overflow: hidden;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #274142;
    color: white;
    transition: all 0.3s ease-in-out;
    gap: .5rem;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }

    &:hover {
      box-shadow: 0 0 10px #274142;
    }

    h3 {
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.5rem;
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: #274142;
      color: white;
      padding: .2rem .5rem;
      border-radius: 30px;
      z-index: 1;
    }

    .view_live {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      box-shadow: 0 0 10px black;
      line-height: 0;
      border-radius: 50%;
      color: #274142;
      background-color: rgba(255, 255, 255, 1);
    }

    .view_github {
      position: absolute;
      top: 1rem;
      right: 4rem;
      font-size: 2rem;
      box-shadow: 0 0 10px black;
      line-height: 0;
      border-radius: 50%;
      color: #274142;
      background-color: rgba(255, 255, 255, 1);
    }

    p {
      font-size: 1rem;
      position: absolute;

      left: 1rem;
      background-color: #274142;
      color: white;
      padding: .2rem .5rem;
      border-radius: 30px;
      z-index: 1;
      bottom: 0;
    }
  }
}
