header {
  display: flex;
  position: relative;
  height: 70px;
  align-items: center;
  z-index: 1001;
}
header .site-title {
  display: flex;
  align-items: center;
  color: black;
  width: max-content;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
  background: linear-gradient(red, green, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header #nav-toggle {
  display: none;
}
header #nav-toggle:checked ~ #mobile-nav {
  top: 100%;
}
header #nav-toggle:checked ~ .nav-toggle-button .nav-button-bar:first-child {
  transform: rotate(45deg) translate(0.25rem, 0.3rem);
  width: 2.2rem;
}
header #nav-toggle:checked ~ .nav-toggle-button .nav-button-bar:nth-child(2) {
  border: 1px solid red;
  width: 0;
}
header #nav-toggle:checked ~ .nav-toggle-button .nav-button-bar:last-child {
  transform: rotate(-45deg) translate(0.3rem, -0.25rem);
  width: 2.2rem;
}
header .nav-toggle-button {
  display: none;
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  box-shadow: inset 0 0 2px 0 black;
  outline: none;
  border: none;
  z-index: 1000;
}
@media (max-width: 720px) {
  header .nav-toggle-button {
    display: block;
  }
}
header .nav-toggle-button .nav-button-bar {
  display: block;
  width: 2rem;
  height: 2px;
  margin: 0.3rem 0;
  background-color: black;
  transition: all 0.2s ease-in-out;
}
header .nav-toggle-button .nav-button-bar:nth-child(2) {
  width: 1.5rem;
}
header .nav-toggle-button .nav-button-bar:nth-child(3) {
  width: 1rem;
}
header .nav-toggle-button:hover .nav-button-bar:nth-child(2) {
  width: 2rem;
}
header .nav-toggle-button:hover .nav-button-bar:nth-child(3) {
  width: 2rem;
}
header #full-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 2rem;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  transition: 200ms top ease-in-out;
}
@media screen and (max-width: 720px) {
  header #full-nav {
    display: none;
  }
}
header #full-nav .socials {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 2rem;
}
header #full-nav .socials a {
  color: #274142;
  margin-left: 1rem;
}
header #full-nav .pages-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1rem;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid black;
  box-shadow: inset 0 0 2px 0 black;
  padding: 0.5rem 1rem;
}
header #full-nav .pages-link a {
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
header #full-nav .pages-link a:hover {
  color: white;
  background-color: rgb(128, 128, 128);
}
header #full-nav .pages-link a:active {
  color: white;
  background-color: #274142;
}
header #mobile-nav {
  display: none;
  position: absolute;
  top: -300%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 2px 0 black;
  padding: 1rem;
  transition: 200ms top ease-in-out;
  z-index: 999;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
@media screen and (max-width: 720px) {
  header #mobile-nav {
    display: flex;
  }
}
header #mobile-nav .pages-link {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
header #mobile-nav .pages-link a {
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
header #mobile-nav .pages-link a:hover {
  color: white;
  background-color: black;
}
header #mobile-nav .socials {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
header #mobile-nav .socials a {
  margin-left: 1rem;
  color: #274142;
}
header #mobile-nav .socials a:hover {
  color: rgb(128, 128, 128);
}

/*# sourceMappingURL=Header.css.map */
