.languages_and_frameworks_container {
  padding: 2rem;
  display: flex;
  margin:1rem auto;
  flex-wrap: wrap;
  gap: 2rem;

  justify-content: center;



  .languages_and_frameworks_card {
    max-width: 10rem;
    text-align: center;
    box-shadow: 0 0 10px #274142;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 6rem;
    gap: .2rem;

    img{
      width: 150px;
      aspect-ratio: 1/1;
      object-fit: contain;
    }

    p {
      background-color: #274142;
      color: white;
      padding: .2rem .5rem;
      border-radius: .2rem;
      box-shadow: 0 0 5px black;
    }

    > * {
      margin: 0;
    }
  }
}
