main {
  section.intro {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    .hello {
      margin-inline: auto;

      h1 {
        font-size: 3rem;
        max-width: 780px;

        @media screen and (max-width: 780px) {
          font-size: 2rem;
        }
      }

      h5 {
        font-size: 1rem;
        font-weight: lighter;
      }

      .pc_only {
        @media screen and (max-width: 780px) {
          display: none;
        }

        display: flex;
        gap: 1rem;

        .ss {
          border: 1px solid #274142;
          border-radius: 2rem;
          width: max-content;
          padding: .5rem 1rem;
          background-color: #274142;
          color: white;
          align-items: center;
            display: flex;
          gap: .5rem;
        }
      }
    }

    .image_container {
      margin-inline: auto;
      border-radius: 2rem;
      overflow: hidden;
      max-width: 360px;
    }
  }


  section.soft_skills {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .soft_skill_container {
      margin-inline: auto;
      border-radius: 2rem;
      border: 1px solid #274142;
      overflow: hidden;
      max-width: 360px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      background-color: var(--color-primary);
      color: var(--color-white);
      transition: all 0.3s ease-in-out;
      gap: .5rem;

      svg {
        font-size: 2rem;
        color: #274142;
      }

      &:hover {
        transform: scale(1.1);
      }

      h3 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  section.featured_projects {
    margin-block: 3rem;
    width: 100%;
    .section_title_container{
      width: 100%;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 2rem;
        margin: 0;
      }

      a {
        display: flex;
        align-items: center;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        color: white;
        font-size: 1rem;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        background-color: #274142;
        padding: .3rem;
        height: 3rem;

        &:hover {
          scale: 1.05;
          box-shadow: 0 0 5px 0 #274142;
        }
      }
    }

    .featured {
      .featured_project_card {
        position: relative;
        margin-top: 1rem;
        border-radius: 2rem;
        border: 1px solid #274142;
        overflow: hidden;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        background-color: #274142;
        color: white;
        transition: all 0.3s ease-in-out;
        gap: .5rem;

       img {
          width: 100%;
          height: 200px;
          object-fit: cover;
            object-position: center;
       }

        &:hover {
          transform: scale(1.1);
        }

        h3 {
          margin: 0;
          font-size: 1.5rem;
          line-height: 1.5rem;
          position: absolute;
          top: 1rem;
          left: 1rem;
          background-color: #274142;
          color: white;
          padding: .2rem .5rem;
          border-radius: 30px;
          z-index: 1;
        }

        p {
          font-size: 1rem;
          position: absolute;

          left: 1rem;
          background-color: #274142;
          color: white;
          padding: .2rem .5rem;
          border-radius: 30px;
          z-index: 1;
          bottom:0;
        }
      }
    }
  }
}
