header {
  display: flex;

  .site-title {
    display: flex;
    align-items: center;
    color: black;

    text-shadow: rgba(black,  .3) 1px 1px;
    background: linear-gradient(red, green , blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
